<!DOCTYPE html> 
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        </head>
        <body>
            {{>header}}
            <h1>Inside your index html method</h1>
            <input placeholder="address">
            <button>Search</button>
            <p id="weather-info" class = "info"></p>
            <p id="error" class="err"></p>
           {{>footer}}
            <script src="/js/app.js"></script>
            </body>
    </html>