<!DOCTYPE html> 
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        </head>
        <body>
             <h1>{{>header}}</h1>
            <h1>Welcome to Node {{description}}</h1>
            <footer>{{>footer}}</footer>
            </body>
    </html>